body {
    font-family: sans-serif;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
}

header p{
    color:blue;
}

header{
    background-color:red;
}

main{
    background-color: aqua;
}

main img{
    height:200px;
    width:200px;
}

footer{
    background-color: red;
}

    
nav a { 
margin:20px; 
font-size:20px;
 text-decoration: none;
  color: rgb(244, 255, 255);
 border: 3px solid navy;
 border-radius: 10px;
 background-color: navy;
 padding: 5px;

  }



